{% extends 'base.html.twig' %}
{% block body %}
	<div class="media">
		<h1 class="mt-0">Saison #{{ season.number }}
			de
			{{ program.title }}</h1>
		<p>Sortie en
			{{season.year}}</p>
		<p>Description:
			{{season.description}}</p>
		<h2>Liste des épisodes
		</h2>
		{% for episode in episodes %}
			<h2>Épisodes n°{{episode.number}}:
				{{episode.title}}</h2>
			<p>{{episode.synopsis}}</p>
		{% endfor %}
	</div>
	<a href="{{ path("program_show", { id: program.id }) }}">Retour vers la série</a>
	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes</a>
{% endblock %}
